@model ConsultasMedicas.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = "Consultas";
}

<h2>Consultas</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Abrir nova consulta</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Doutor
            </th>
            <th width="150px">
               Data da Consulta 
            </th>
            <th with="200px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Appointments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Doctor.FirstOrDefault(p => p.Id == item.DoctorId).FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Cancelar Agendamento</a>
                </td>
            </tr>
        }
    </tbody>
</table>
